<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <h1>Challenge Problem 1 </h1>
    <h2>Peter Kafkakis | Phil Switlick | Alex Buttrum | John Henshaw </h2>





    <a href='/show'><button id="button" type="button" name="button"> RUN </button></a>

  </body>
</html>
